extends layout

block content

  .navbar
    h1 Hello world
  .content
    .chat-body

  .footer
    .input-message
      span.label Type a message... 
      input(type="text", name="message")
      div(class="button send-new-message")
        i(class="fas fa-envelope")


